* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin-top: 1%;
}

.headerleft {
    position: relative;
    left: 1%;
    padding-right: 20px;
}

.headerright {
    position: relative;
    left: 86%;
    padding-left: 20px;
}

#main {
    text-align: center;
    margin-top: 5%;
}

#logo{

}

footer {
    width: 100%;
    position: relative;
    margin-top: 35%;
}

.footerleft {
    position: relative;
    left: 1%;
    padding:10px;
}

.footermid {
    position: relative;
    left: 27%;
}

.footerright {
    position: relative;
    left: 60%;
    padding: 10px;
}