* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'sans serif';
}

a {
    color:rgb(77, 77, 77);
}

header {
    width: 100%;
    margin-top: 1%;
}

.headerleft {
    position: relative;
    left: 1%;
    padding-right: 20px;
}

.headerright {
    position: relative;
    left: 83%;
    padding-left: 20px;
}

#main {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 0%;
}

#logo{
    height: 10em;
    width: auto;
}

.searchbar {
    width: 45em;
    height: 3em;
    border: thin solid rgb(211, 211, 211);
    border-radius: 20px;
}

footer {
    width: 100%;
    position: relative;
    margin-top: 29%;
}

.footerleft {
    position: relative;
    left: 1%;
    padding:10px;
}

.footermid {
    position: relative;
    left: 24%;
}

#leaf {
    height: 1em;
    width: auto;
}

.footerright {
    position: relative;
    left: 53%;
    padding: 10px;
}